.contact{
    width: 80%;
    height:auto;
    padding: 10%;
    margin-bottom: 10%; 
    background-image: url('./about.gif');
     background-size: cover;
     color:#0cbfe9;
}

h3{
  color:#0cbfe9;
}




@media screen and (max-width: 680px) {

    h3{
        font-size: .9rem ;
    }

    .contact{
        height:480px;
        padding-top: 15%;
       
    
    }

    
 
}