.header{
 
    float:right;

}

.line{

    display: inline-block;
    padding-right: 2rem;
    padding-left: 2rem;


}



.options:hover {


font-style:bold;
color: white;

}

a{
  
    text-decoration: none;    
    font-size: 1.2rem;
    color:#0cbfe9;
}



@media screen and (max-width: 670px) {


    a{
        font-size: 1rem;
    }

    .line{

        padding-right: .5rem;
        padding-left: .5rem;

    }

}