.header{
 
    color: white;
}

.line{

    display: inline-block;
    margin-right: 2rem;
    margin-left: 2rem;

}

.options:hover {

opacity: 0.5;
font-style:bold;
color:black;

}

a{
  
    text-decoration: none;    
    font-size: 1.2rem;
}