body{
background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/sunflowers-under-the-milky-way-dustin-goodspeed.jpg");
font-family: 'Cormorant Garamond', serif;
height: 100%;
width: 100%;
background-size: cover;


}

.App{
width: 100%;
min-height: 100%;
height: auto !important;
position: fixed;
top:0;
left:0;
display: grid;
grid-template-rows: 25% 25% 25% 25%;
grid-template-columns:25% 25% 25% 25%; 
}

header{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}


.background{

  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Avatar{
  position: absolute;


}


